
.outer{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.inner{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    border-radius: 10px;
    width: 300px;
    height: 300px;
    margin: 10px;
    border: solid orange;
}

div.inside{
    display: flex;
    flex-wrap: wrap;
    background-color: yellow;
    height: 50px;
    width: 100%;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}
div.inside1{
    display: flex;
    background-color: rgb(0, 255, 242);
    height: 50px;
    width: 100%;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}
div.inside2{
    display: flex;
    background-color: rgb(255, 170, 0);
    height: 50px;
    width: 100%;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}

div .header h2{
    display: flex;
    background-color: aqua;
    justify-content: center;
    align-items: center;
}

div .body{
    background-color: aquamarine;
    display: flex;
    justify-content: center;
    align-items: center;
}

