.parent{
    display: flex;
    flex-direction: row;;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    flex-wrap: wrap;
    padding: 10px;
    width: 100%;
    height: 1200px;
    border: 1px solid green;
}

.child{
    width: 200px;
    min-width: 100px;
    margin: 10px;
    height: 200px;
    border: 1px solid green;
}

.parent1{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    height: 500px;
    border: 10x solid green;
}

.last1{
    order:1;
}
.last2{
    align-self: flex-end;
    flex-grow: 2;
}